.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card img {
  width: 100%;
  height: 250px;
  border-radius: 0.4rem;
  object-fit: cover;
}
.project-card > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card > .header > div {
  display: flex;
  gap: 1rem;
}

.project-card > .header > div > a > img {
  width: 20px;
  height: 20px;
  filter: invert(90%);
  transition: all 0.3s ease-in-out;
}

.project-card > .header > div > a > img:hover {
  transform: scale(1.1);
}

.project-card > .detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card > .detail > .tech {
  color: var(--highlight);
}

/* Fondo negro para los enlaces de GitHub y Link */
.project-card > .header > div > a {
  background-color: var(--bg-dark);
  border: 1px solid var(--primary-dark);
  padding: 8px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.project-card > .header > div > a:hover {
  background-color: var(--highlight);
  transform: scale(1.05);
}